/* Card.module.css */

.cardMainCustom {
    box-shadow: 0 0 100px rgba(201, 100, 0, 0.747);
}

.avatarContainerLogoGit {
    position: relative;
}

.avatarContainerLogoGit {
    position: absolute;
    top: 16px;
    left: 16px;
}

/* styles/components/Button.module.css */
.customButton {
    font-size: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customButtonImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatarContainerPhoto {
    position: relative;
}

.avatarContainerPhoto {
    position: absolute;
    border: 3px solid #fff;
    border-radius: 70%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
}

.avatarContainerPhoto {
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

.gridMain {
    position: relative;

}

.gridMain {
    position: absolute;
    top: 170px;
    left: 350px;
}